In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
def read_data_from_csv():
    hotels = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HiCounselor/Zomato/zomato.csv')
    return hotels

In [16]:
hotels = read_data_from_csv()
df = hotels.copy()
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [5]:
hotels.columns = hotels.columns.str.replace(' ', '_')
hotels.drop(['phone','address'], inplace=True,axis=1)

In [6]:
    # task2: rename columns,  only these columns are allowed in the dataset
    # 1.	Id not available
    # 2.	Name
    # 3.	online_order
    # 4.	book_table
    # 5.	rating
    # 6.	votes
    # 7.	location
    # 8.	rest_type
    # 9.	dish_liked
    # 10.	cuisines
    # 11.	approx_cost
    # 12.	type

hotels.rename(columns={'name':'Name','rate': 'rating','approx_cost(for_two_people)': 'approx_cost','listed_in(type)':'type'},inplace=True)
print(hotels.info())
print(hotels.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56252 entries, 0 to 56251
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          56236 non-null  object
 1   online_order  56233 non-null  object
 2   book_table    56194 non-null  object
 3   rating        48414 non-null  object
 4   votes         56174 non-null  object
 5   location      56126 non-null  object
 6   rest_type     55914 non-null  object
 7   dish_liked    28027 non-null  object
 8   cuisines      56049 non-null  object
 9   approx_cost   55731 non-null  object
 10  type          51642 non-null  object
dtypes: object(11)
memory usage: 4.7+ MB
None
                    Name online_order book_table rating votes      location  \
0                  Jalsa          Yes        Yes  4.1/5   775  Banashankari
1         Spice Elephant          Yes         No  4.1/5   787  Banashankari
2        San Churro Cafe          Yes         No  3.8/5   918  Banashankari
3  Addhuri Udupi Bhojana           No         No  3.7/5    88  Banashankari
4          Grand Village           No         No  3.8/5   166  Basavanagudi

             rest_type                                         dish_liked  \
0        Casual Dining  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1        Casual Dining  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2  Cafe, Casual Dining  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3          Quick Bites                                        Masala Dosa
4        Casual Dining                                Panipuri, Gol Gappe

                         cuisines approx_cost    type
0  North Indian, Mughlai, Chinese         800  Buffet
1     Chinese, North Indian, Thai         800  Buffet
2          Cafe, Mexican, Italian         800  Buffet
3      South Indian, North Indian         300  Buffet
4        North Indian, Rajasthani         600  Buffet

In [7]:
# task3: handle  null values of each column
hotels.isna().sum()

Name               16
online_order       19
book_table         58
rating           7838
votes              78
location          126
rest_type         338
dish_liked      28225
cuisines          203
approx_cost       521
type             4610
dtype: int64

In [8]:
hotels.describe(include='all').T

              count unique            top   freq
Name          56236  11914   ('Rated 4.0'    300
online_order  56233   2639            Yes  30444
book_table    56194   2902             No  45268
rating        48414   2877            NEW   2208
votes         56174   5195              0  10027
location      56126   2920            BTM   5125
rest_type     55914   2961    Quick Bites  19132
dish_liked    28027   8067   ('Rated 4.0'    407
cuisines      56049   5553   North Indian   2913
approx_cost   55731   2879            300   7576
type          51642   2783       Delivery  24317

In [9]:
hotels.dropna(subset=['Name'],axis=0,inplace=True)
hotels['online_order'].fillna('NA',inplace=True)
hotels['book_table'].fillna('NA',inplace=True)
hotels['rating'].fillna(0,inplace=True)
hotels['votes'].fillna(0,inplace=True)
hotels['location'].fillna('NA',inplace=True)
hotels['rest_type'].fillna('NA',inplace=True)
hotels['dish_liked'].fillna('NA',inplace=True)
hotels['cuisines'].fillna('NA',inplace=True)
hotels['approx_cost'].fillna(0,inplace=True)
hotels['type'].fillna('NA',inplace=True)
hotels.isna().sum()

Name            0
online_order    0
book_table      0
rating          0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
approx_cost     0
type            0
dtype: int64

In [10]:
# task4 #find duplicates in the dataset
hotels.duplicated().sum()
hotels.drop_duplicates(inplace=True)
hotels.reset_index(drop=True,inplace=True)

In [11]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38413 entries, 0 to 38412
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          38413 non-null  object
 1   online_order  38413 non-null  object
 2   book_table    38413 non-null  object
 3   rating        38413 non-null  object
 4   votes         38413 non-null  object
 5   location      38413 non-null  object
 6   rest_type     38413 non-null  object
 7   dish_liked    38413 non-null  object
 8   cuisines      38413 non-null  object
 9   approx_cost   38413 non-null  object
 10  type          38413 non-null  object
dtypes: object(11)
memory usage: 3.2+ MB

In [12]:
# task5 removing irrelevant text from all the columns
for column in hotels.columns:
        hotels = hotels[hotels[column].str.contains('RATED|Rated') == False]

In [14]:
# task6: check for unique values in each column and handle the irrelevant values
hotels['online_order'].unique()
index = hotels[~hotels['online_order'].isin(['No', 'Yes'])].index
hotels.drop(index, inplace = True)
hotels['rating'].replace('NEW',0,inplace=True)
hotels['rating'].replace('-',0,inplace=True)
hotels['rating'].replace(to_replace='/5',value='',regex=True,inplace=True)

In [ ]:
hotels['rating'].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', '0', '2.9', '3.5', '2.6',
       '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2', '2.3',
       '3.4 ', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ', '3.7 ',
       '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ', '3.2 ',
       '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8', '4.6 ',
       '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ', '2.2 ',
       '2.0 ', '1.8 '], dtype=object)

In [19]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56252 entries, 0 to 56251
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      56235 non-null  object
 1   name                         56236 non-null  object
 2   online_order                 56233 non-null  object
 3   book_table                   56194 non-null  object
 4   rate                         48414 non-null  object
 5   votes                        56174 non-null  object
 6   phone                        54956 non-null  object
 7   location                     56126 non-null  object
 8   rest_type                    55914 non-null  object
 9   dish_liked                   28027 non-null  object
 10  cuisines                     56049 non-null  object
 11  approx_cost(for two people)  55731 non-null  object
 12  listed_in(type)              51642 non-null  object
dtypes: object(13)
memory usage: 5.6+ MB

In [20]:
# task7: remove the unknown character from the dataset and export it to "zomatocleaned.csv"
# remove unknown character from dataset
hotels['name'] = hotels['name'].str.replace('[Ãx][^A-Za-z]+','',regex=True)

In [21]:
# export cleaned Dataset to newcsv file named "zomatocleaned.csv"
hotels.to_csv('zomatocleaned.csv')